{% extends 'ancientsites/base.html' %}{% load static %} {% block content %}
<div class="container">
    <div class="row gx-5">
        <div class="col-md-6">
            <div class="card aboutus1">
                <div class="container">
                    <div class="row" style="margin-top: 100px;">
                        <div class="col-md-12 text-md-center">
                            <img src="{%static 'images/Yojana.png'%}" alt="... "><br> <br>
                            <h5 class="texthighlighter">Dr. YOJANA BHAGAT</h5>
                            <p class="degree">
                                Coordinator-Department of Pali, University of Mumbai <br> PhD [Pali] Mnemonics in Pali Literature [University of Mumbai] <br>PhD [AIC] Impact of Vipassana Meditation on Buddhist Architecture <br>[University of Mumbai] <br>MA[
                                Num. &amp; Archeo] MA [Pali], MA [AIC], MA [Phil], B.Arch
                            </p>
                        </div>


                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <h4 style="font-family: 'Oswald', sans-serif;">
                                Hi
                            </h4>
                            <p style="text-align: justify;">
                                Basically I am an architect from Sir JJ College of Architecture, Mumbai (1989 batch) and has practiced architecture for almost 10 years from 1989-2001.
                            </p>
                            <p style="text-align: justify;">
                                I am also an ardent trekker and have trekked/climbed 230 forts of Maharashtra along with Sanjay Jambhulkar my life-Partner. I am a Vipassana meditator since 1989 and has undertaken short and long courses (12 days -30 days)under the Goenka tradition.
                            </p>
                            <p style="text-align: justify;">
                                My first PhD (2005) is on the topic “Impact of Vipassana Meditation on Buddhist Architecture” from Mumbai University. In this research I have practically visited and studied almost all the architectural and archaeological sites of India and have meditated
                                there noting down my experience of meditation.
                            </p>
                            <p style="text-align: justify;">
                                My second PhD (2011) is in the language Pali on the topic “Mnemonics in Pali Literature” from Mumbai University where I have tried to show the different memorization techniques taught by the Buddha.
                            </p>
                            <p style="text-align: justify;">
                                I became a teacher of Pali at the University of Mumbai in 2005 when the MA Pali course was introduced. I am Coordinator of the Department of Pali since it came intoexistence in June 2007.
                            </p>
                            <p style="text-align: justify;">
                                I have studied Buddhism while doing my Masters in Philosophy, Masters in Pali, Masters in Ancient IndianCulture and Masters in Numismatics and archaeology.
                            </p>
                            <p style="text-align: justify;">
                                I am a research guide for Pali and am guiding more than15 students for MPhil in Pali (5 MPhil awarded) and 03 students are pursuing PhD under my guidance now. The Department of Pali is a place in the University of Mumbai which has more than 300 students
                                learning Pali in 10 different courses. The students are not only trained in the language but are introduced to all aspects of Buddhist art, architecture, archaeology and culture through various activities conducted at the
                                Department.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card  aboutus2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h4 style="font-family: 'Oswald', sans-serif;">
                                Hi
                            </h4>
                            <p style="text-align: justify;">
                                I am a traveller, a photographer, an amateur geographer and a follower of Buddha. Those who have walked literally on the path of the Buddha are my ideals It’s my way of showing my gratefulness to Emperor Asoka, Xuang Zang, James Princep and Sir Alexander
                                Cunningham, without whom I would not be what I am today.

                            </p>
                            <p style="text-align: justify;">
                                like to convey what the forgotten glory of Buddhism has to say through the state they are today. I hope I am able to express their feelings through my photos clearly.
                            </p>
                            <p style="text-align: justify;">
                                In short my journey began with walking, trekking the Sahyadri mountain ranges, climbing ghats and studying forts of with the help of Maratha history and Modi script.
                            </p>
                            <p style="text-align: justify;">
                                Cycle gave away to motorcycle and thus the geographical horizon expanded to tours within Maharashtra. When I started going back in time- the new vista of ancient India with Buddhist studies alongwith Asokan inscriptions-opened in front of me covering
                                India and beyond.
                            </p>
                            <p style="text-align: justify;">
                                Technology helped me to explore with Google Maps and Google Earth and here I am sharing with you my life passion changing developing expanding with time and interest, This is me...
                            </p>

                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 50px;">
                        <div class="col-md-12 text-md-center">
                            <h5 class="texthighlighter">  Mr. SANJAY JAMBHULKAR </h5>
                            <p class="degree">
                                Explorer, Photographer  <br>Mapping the Buddhist Heritage
                            </p>
                            <br>
                            <img src="{%static 'images/Sanjay.png'%}" alt="... ">
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


</div>{% endblock content %}