body {
    background-color: black;
    color: #BDBDBD;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.back {
    background-color: #090909;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #4f4f4f;
}

.back:focus {
    background-color: #090909;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}

h2 {
    color: #7f7f7f;
}

a {
    text-decoration: none;
    color: #F5F5F5
}

a:hover {
    color: #ff9900
}

a.texthighlighter {
    color: #FF9900;
}

#message_info {
    background-color: #2f2f2f;
    font-size: 18px;
}

#message {
    color: red;
}

#map {
    height: 100vh;
}

.navbar-custom {
    background-color: #333333;
}

.navbar-dark .navbar-nav {
    margin-left: auto;
}

.navbar-dark .navbar-brand {
    color: #FF9900;
    margin-left: 100px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F5F5F5
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff9900
}

.navbar-nav .nav-link {
    color: #9e9e9e
}

.card {
    background-color: black;
}

.texthighlighter {
    color: #FF9900;
    font-family: 'Oswald', sans-serif;
}

.parent {
    position: relative;
}

.over-img {
    position: absolute;
    top: 15%;
    left: 20%;
}

.aboutus1 {
    background-color: #333333;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.aboutus2 {
    background-color: #333333;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}

.full-height {
    height: 2000px;
    background: #333333;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

.textbackground {
    border: 0;
    background-color: #9c9c9c;
    color: black;
}

.black {
    background-color: #9c9c9c;
    color: black;
    font-size: 20px;
}

.black:focus {
    background-color: black;
    color: white;
}

.table1 {
    border-bottom: 0px !important;
}

.table1 th,
.table1 td {
    border: 1px !important;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #FF9900;
    border-radius: 50%;
    display: inline-block;
}

.mapdescription {
    color: #FF9900;
}

.gray {
    color: #333333;
}

.svgcolor {
    background-color: #FF9900;
}

.textalign {
    text-align: justify;
}

#wrapper {
    width: 900px;
    margin: 20px auto;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 1px 10px;
    text-decoration: none;
    background-color: #9c9c9c;
    color: black;
    border-radius: 100px;
}

.pagination a.active {
    background-color: #FF9900;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.copyright {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footername {
    font-size: 12px;
    color: #FF9900;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.degree {
    color: #FF9900;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.search {
    border: 0;
    background-color: #FF9900;
    color: black;
}

#maptosite {
    height: 75vh;
}

.button {
    background-color: #333333;
    color: white;
    border: 2px;
    border-color: #4f4f4f;
    padding: 10px;
}