<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>View Country</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>
    <body class="bg-dark text-white">
        <header th:insert="fragments/adminlayout.html :: header"> </header>
        <div class="container">
            <h1>Country List</h1>
            <a th:href = "@{/dashboard/view_Country/showNewCountryForm}" class="btn btn-primary btn-sm mb-3"> Add Country </a>
            <table border="1"  class="table table-responsive-md text-white">
                <thead>
                    <tr> 
                        <th>Country Id</th>
                        <th>Country Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="country:${listCountry}">
                        <td th:text="${country.id_country}"></td>
                        <td th:text="${country.countryname}"></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <footer th:insert="fragments/adminlayout.html :: footer"></footer>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </body>
</html>