{% extends 'dashboard/base.html' %} {% block content %}
<script>
    $(document).ready(function() {
        $("#search_site").on("keyup", function() {
            var value = $(this).val().toLowerCase()
            $("#table_sitename tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>About Site Video</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12" id="message_info">
            {% if messages %} {% for message in messages %} {{message}} {% endfor %} {% endif %}
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <form action="">
                <p style="margin-bottom: 10px;">
                    Country
                </p>
                <p>
                    <select name="country" onchange="filterbycountry_id(this.value)" class="form-select back">
                        <option value="0">All</option>
                        {% for country in country_count %}
                        <option value={{country.id}}>{{country.country_name}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p style="margin-bottom: 10px;">
                    State
                </p>
                <p>
                    <select name="state" onchange="filterbystate_id(this.value)" class="form-select back" id="stateid">
                        <option value="0">All</option>
                        
                    </select>
                </p>
                <p style="margin-bottom: 10px;">
                    Category
                </p>
                <p>
                    <select name="category" onchange="filterbycategory_id(this.value)" class="form-select back" id="categoryid">
                        <option value="0">All</option>
                        
                    </select>
                </p>
            </form>
            <br>
            <form action="{% url 'add_sitevideo' %}" method="post">
                {% csrf_token %} {{form.as_p}}
                <input type="submit" value="Save Video" class="button">
            </form>
        </div>
      <!--   <div class="col-5">
            <input type="text" id="search_site" class="form-control bg-dark text-white" placeholder="Search site name here ...">
            <table class="table" style="color: #9f9f9f;">
                <thead>
                    <tr>
                        <th scope="col">Site Name</th>
                        <th scope="col">Total Video Upload</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="table_sitename">
                    {% if totals %} {% for total in totals %}
                    <tr>
                        <td>
                            {{total.site_name}}
                        </td>
                        <td>
                            {{total.counts}} +
                        </td>
                        <td>
                            <p>
                                <a href=" {% url 'info_sitevideo_individual' total.id %} " class="btn btn-outline-warning">Show</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}{% else %}
                    <tr>
                        <td>No Record to show</td>
                        <td></td>
                        <td></td>
                    </tr> {% endif %}
                </tbody>
            </table>
        </div> -->
    </div>
    
</div>
{% include "dashboard/bycountrywise.html"%}
{% endblock content %}