{% extends 'dashboard/base.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>Update Site Image Information</h4>
            <p style="color: #7f7f7f;">To make this image as banner image. Click to the is banner image check box. Then click to the update site image button</p>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-12">
            <form action="">
                <p style="margin-bottom: 10px;">
                    Country
                </p>
                <select name="country" onchange="filterbycountry_id(this.value)" class="form-select back">
                    <option value="0">All</option>
                    {% for country in country_count %}
                    <option value={{country.id}}>{{country.country_name}}</option>
                    {% endfor %}
                </select>
            </form>
            <br>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %} {{form.media}} {{form.as_p}}
                <input type="submit" value="Update Site Image" class="button">
                <a href="{% url 'update_sitedescription' pi.site_name.id %}" class="button">Back</a>
            </form>
        </div>
      
    </div>
</div>
{% include "dashboard/bycountrywise.html"%}
{% endblock content %}